.title {
  font-size: 20px;
  text-align: center;
  padding: 15px 0 20px;
}
mat-card {
  margin-top: 10px;
  max-width: 360px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  border-radius: 8px;
  background-color: bisque;
}
.beginCard {
  height: 25px;
}
mat-card-header {
  display: flex;
  justify-content: space-between;
  background-image: url(../../../assets/img/energy5.jpg);
  background-size: cover;
  height: 150px;
  background-position-y: center;

  max-height: 440px;
}
mat-form-field {
  width: 100%;

  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    border-radius: 25px;
    background-color: #fff;
  }
  .mat-mdc-text-field-wrapper {
    border-radius: 25px !important;
    background-color: #fff !important;
  }
}
mat-card-content {
  display: flex;
  flex-direction: column;
}
.calculate {
  margin: 50px 0;
  border-radius: 5px;

}
.spinnerHolder {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 25px);
}
