


<div class="mainContainer" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Octopus Energy</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  position="start" [opened]="mobileQuery.matches ? false : true"
                  [autoFocus]="false"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item routerLink="home" [routerLinkActive]="['active']" >
            <button (click)="snav.toggle()"  mat-button><mat-icon>home</mat-icon> Home</button>
        </mat-list-item>
        <mat-list-item routerLink="allProducts" [autofocus]="['active']" [routerLinkActive]="['active']">
          <button (click)="snav.toggle()"  mat-button><mat-icon>dashboard</mat-icon> all Products</button>
        </mat-list-item>
        <mat-list-item routerLink="test" [routerLinkActive]="['active']">
            <button (click)="snav.toggle()"  mat-button><mat-icon>explore</mat-icon> TEST</button>
        </mat-list-item>
        <mat-list-item>
            <button (click)="snav.toggle()" routerLink="table" mat-button><mat-icon>table</mat-icon> Table</button>
        </mat-list-item>
        <mat-list-item>
            <button (click)="snav.toggle()" mat-button><mat-icon>settings</mat-icon> Settings</button>
        </mat-list-item>
        <mat-list-item>
            <button (click)="snav.toggle()" mat-button><mat-icon>help</mat-icon> Help</button>
        </mat-list-item>
        <mat-list-item>
            <button (click)="snav.toggle()" mat-button><mat-icon>analytics</mat-icon> analytics</button>
        </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>


