.mainContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.content {
  padding: 15px;
  background: hsl(217, 54%, 11%);;
}
.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin: 8px 0;

}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;

}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;

}
mat-nav-list a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid black;
}
.mat-toolbar  {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  // background: linear-gradient(to right, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 56px;
  padding: 1em;
  z-index: 100;
}

.active {
  background-color: lightgrey;
}

// @media only screen and (max-width: 600px) {
//   .content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
// }

